<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
     http://www.springframework.org/schema/context/spring-context.xsd
     org/springframework/context/config/spring-context-4.1.xsd">

	<!-- First Spring Program -->
	<!-- scope="prototype" -->
	<bean id="firstBeanPerson" class="com.example.spring.model.Person"
		init-method="open" destroy-method="destroye">
		<property name="name" value="Maulik"></property>
		<property name="age" value="23"></property>
		<property name="address" value="Ranip"></property>
	</bean>
	<bean id="secondBeanPerson" class="com.example.spring.model.Person">
		<property name="name" value="Maulik Patel"></property>
		<property name="age" value="22"></property>
		<property name="address" value="Ranip, Ahmedabad"></property>
	</bean>

	<!-- Bean Post Processor Demo -->
	<!-- <bean class="com.example.spring.BeanPostProcessorDemo"></bean> -->

	<!-- Bean Inheritanse Demo -->
	<bean id="customerTemplate" class="com.example.spring.model.Customer"
		abstract="true">
		<property name="type" value="salesMan"></property>
	</bean>

	<bean id="customerInheritanceTemplate" class="com.example.spring.model.Customer_Inheritancea"
		parent="customerTemplate">
		<property name="action" value="Test"></property>
		<property name="country" value="U.S"></property>
	</bean>

	<!-- Inner Bean -->
	<bean id="innerBean" class="com.example.spring.model.InnerBean">
		<constructor-arg>
			<bean class="com.example.spring.model.Person">
				<property name="name" value="Maulik"></property>
				<property name="age" value="23"></property>
				<property name="address" value="Ranip"></property>
			</bean>
		</constructor-arg>

		<constructor-arg>
			<bean class="com.example.spring.model.Customer_Inheritancea">
				<property name="type" value="Bean"></property>
				<property name="action" value="Inject"></property>
				<property name="country" value="India"></property>
			</bean>
		</constructor-arg>
		<property name="customer">
			<bean class="com.example.spring.model.Customer">
				<property name="type" value="Bean1"></property>
				<property name="action" value="Inject1"></property>
				<property name="country" value="India1"></property>
			</bean>
		</property>
	</bean>

	<!-- Collection Injection -->
	<bean id="collectionBean" class="com.example.spring.model.CollectionDemo">
		<property name="list">
			<list>
				<ref bean="firstBeanPerson" />
				<ref bean="secondBeanPerson" />
				<bean class="com.example.spring.model.Person">
					<property name="name" value="mkyongList" />
					<property name="address" value="address" />
					<property name="age" value="28" />
				</bean>
			</list>
		</property>

		<!-- results in a setAddressSet(java.util.Set) call -->
		<property name="set">
			<set>
				<ref bean="secondBeanPerson" />
			</set>
		</property>

		<!-- results in a setAddressMap(java.util.Map) call -->
		<property name="map">
			<map>
				<entry key="1" value-ref="firstBeanPerson" />
				<entry key="2"><null/></entry>
			</map>
		</property>

		<!-- results in a setAddressProp(java.util.Properties) call -->
		<property name="properties">
			<props>
				<prop key="one">One</prop>
				<prop key="two">Two</prop>
				<prop key="three">Three</prop>
				<prop key="four">Four</prop>
			</props>
		</property>
	</bean>


</beans>