<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
     http://www.springframework.org/schema/context/spring-context.xsd
     org/springframework/context/config/spring-context-4.1.xsd">

	<!-- First Spring Program -->
	<!-- scope="prototype" -->
	<bean id="firstBeanPerson" class="com.example.spring.model.Person"
		init-method="open" destroy-method="destroye">
		<property name="name" value="Maulik"></property>
		<property name="age" value="23"></property>
		<property name="address" value="Ranip"></property>
	</bean>

	<!-- Bean Post Processor Demo -->
<!-- 	<bean class="com.example.spring.BeanPostProcessorDemo"></bean> -->

	<!-- Bean Inheritanse Demo -->
	<bean id="customerTemplate" class="com.example.spring.model.Customer"
		abstract="true">
		<property name="type" value="salesMan"></property>
	</bean>

	<bean id="customerInheritanceTemplate" class="com.example.spring.model.Customer_Inheritancea"
		parent="customerTemplate">
		<property name="action" value="Test"></property>
		<property name="country" value="U.S"></property>
	</bean>

	<!-- Inner Bean -->
	<bean id="innerBean" class="com.example.spring.model.InnerBean">
		<constructor-arg>
			<bean class="com.example.spring.model.Person">
				<property name="name" value="Maulik"></property>
				<property name="age" value="23"></property>
				<property name="address" value="Ranip"></property>
			</bean>
		</constructor-arg>

		<constructor-arg>
			<bean class="com.example.spring.model.Customer_Inheritancea">
				<property name="type" value="Bean"></property>
				<property name="action" value="Inject"></property>
				<property name="country" value="India"></property>
			</bean>
		</constructor-arg>
		<property name="customer">
			<bean class="com.example.spring.model.Customer">
				<property name="type" value="Bean1"></property>
				<property name="action" value="Inject1"></property>
				<property name="country" value="India1"></property>
			</bean>
		</property>
	</bean>


</beans>